<!DOCTYPE html>
<html>
<head>
	<title>F L A R E</title>
	<link rel="stylesheet" type="text/css" href="lib/css/style.css">
	<script type="text/javascript" src="lib/impact/impact.js"></script>
	<script type="text/javascript" src="lib/game/main.js"></script>

	<!-- We advise mobile browser to leave the page unscaled; If scaling is
		neccessary, we will do it in the canvas element itself.
		Also make sure to hide address bar and navigation buttons and make the
		status bar transparent on iOS -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
</head>
<body>
	<canvas id="canvas"></canvas>
</body>
</html>
